@font-face {
    @import url('http://fonts.cdnfonts.com/css/adobe-clean');
    font-family: 'Adobe Clean', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container{
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: .8fr 1fr 1fr;
    grid-template-rows: .8fr 1fr 1fr ;
    grid-template-areas: "sidebar header header"
                         "sidebar content content"
                         "sidebar content content";

    grid-gap: .1rem;
    color: rgb(1, 43, 85)
}
@media screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
                "sidebar"
        "header"
        "content"
        "content"
        "content"
        "content";
    }
}



/*SIDEBAR PROPERTIES*/
.sidebar{
    grid-area: sidebar;
    display: grid;
    font-family:"Adobe Clean";
    padding-left:1rem;
}

nav{
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav .project-title {
    padding-bottom: 10px;
    text-align: left;
}

nav .project-title1{
    padding-bottom: 20px;
    padding-top: 5px;
    text-align: left;
    font-style: normal;
    font-weight: 600
}

nav .group {
    padding-top: 0;
    padding-bottom: 15px;
}
@media screen and (max-width: 550px) {
    nav .group {
        padding-top: 0;
        padding-bottom: 5px;
        /*margin-left: 50px;*/
    }
}

ul {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 550px) {
    ul {
        text-align: center;
    }
}


ul li {
    list-style-type: none;
}
@media screen and (max-width: 550px) {
    ul li {
        align-items: center;
        text-align: center;
    }
}
h2{
    margin:0;
    padding-top: 50px;
}

.material-icons{
    visibility: hidden;
}
@media screen and (max-width: 550px) {
    .material-icons{
        cursor: pointer;
        visibility: visible;
        margin-left: 390px;
    }
}


.image{
    width: 20px;
    border: 1px solid #f9f9f9;
    border-radius: 100%;
    background-color:rgba(229,233,238,1);
}

.social li {
    display: inline-block;
}






/*HEADER PROPERTIES*/
.header{
    background-color: #f9f9f9;
    grid-area:header;
    font-family:"Adobe Clean";
    padding: 5rem 5rem;
    box-sizing: border-box;
}
@media screen and (max-width:550px){
    .header{
        grid-area:header;
        font-family:"Adobe Clean";
        padding: 1rem 1rem;
        box-sizing: border-box;
    }
}

.header p{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
    text-transform: none
}
@media screen and (max-width:550px){
    .header p{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 10px;
        margin-top: 0;
        text-align: center;
        text-transform: none
    }
}

.header h4{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
    text-transform: none
}
@media screen and (max-width:550px){
    .header h4{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 0;
        margin-top: 18px;
        text-align: center;
        text-transform: none
    }
}




/*IMAGES PROPERTIES*/
.content{
    grid-area: content;
    box-sizing: border-box;
}

img{
    width: 49.4%;
}

@media screen and (max-width:550px){
    img{
        width: 100%;
    }
}

p{
    text-align: center;
}

h4{
    text-align: center;
    color: rgb(89, 113, 136);
}

span{
    display: block;
}


@media screen and (max-width:550px) {
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 400px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        padding: 16px 26px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

}